<section id="experience">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Experience</h2>
                <h3 class="section-subheading text-muted">Experience is the best teacher!</h3>
            </div>
        </div>
<div class="container">
    <div class="row">
        <div class="col-xs-8 col-lg-offset-2 col-md-9 minor internships" id="ppp_internships">
            {% for experience in site.experience %}
            
            <div class="interntitle">
                <a style="align-self:center;" href="{{ experience.href }}"><img src="img/experience/{{ experience.img }}" class="internlogo" height="30"></a>
                <div style="margin: 0 0 0 1% ; line-height: 0.2;">
                    <p>
                    <h4 style="margin-top:0; margin-bottom:0; text-transform: none;" class="text-dark"><b>{{ experience.title }}</b></h4>
                    <br />
                    <h6 style="margin-top:0; margin-bottom:0;">{{ experience.position }} | {{ experience.period }}</h6>
                    </p>
                </div>
            </div>

            <p class="text-muted">
                {{ experience.desc }}
            </p>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
</section>