<!-- Services Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">I have worked with a wide variety of programming and development languages and environments.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Programming Languages</h4>
                    <p class="text-muted">
                        <div class="align_bullets">
                        <ul class = "bullets_inner">
                            <li>C</li>
                            <li>Python 2/3</li>
                            <li>MATLAB</li>
                            <li>Java</li>
                            <li>LabVIEW</li>
                          </ul>
                        </div>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Development Environments</h4>
                    
                    <p class="text-muted">
                        <div class="align_bullets">
                        <ul class = "bullets_inner">
                            <li>KiCad</li>
                            <li>MultiSim</li>
                            <li>Proteus</li>
                            <li>OpenCV</li>
                            <li>Processing</li>
                            <li>Android</li>
                            <li>ESP32 IDF</li>
                            <li>BLE (beginner)</li>
                            <li>Arduino</li>
                          </ul>
                        </div>
                    </p>

                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Miscellaneouss</h4>
                    
                    <p class="text-muted">
                        <div class="align_bullets">
                            Worked with various sensors, transduces, modules and microcontrollers (AVR) using different protocols.
                        <!--
                            <ul class = "bullets_inner">
                            <li>KiCad</li>
                            <li>MultiSim</li>
                            <li>Proteus</li>
                            <li>OpenCV</li>
                            <li>Processing</li>
                            <li>Android</li>
                            <li>ESP32 IDF</li>
                            <li>BLE (beginner)</li>
                            <li>Arduino</li>
                          </ul>
                        -->

                        </div>
                    </p>

                </div>
            </div>
        </div>
    </section>

<!--
     Programming Languages – C | Python 2/3 | MATLAB | Java
 Development – KiCad | MultiSim | Proteus | OpenCV | Processing | Android | NRF52 SDK | ESP32 IDF | BLE | Arduino
 Worked with various sensors, transduces, modules and microcontrollers (AVR) using different protocols.
-->