header_h {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

header_h{
	display: block;}


/* image_h */

	.image_h {
		border-radius: 6px;
		border: 0;
		display: inline-block;
		position: relative;
		overflow: hidden;
	}

		.image_h img {
			border-radius: 6px;
			display: block;
		}

		.image_h.left, .image_h.right {
			max-width: 40%;
		}

			.image_h.left img, .image_h.right img {
				width: 100%;
			}

		.image_h.left {
			float: left;
			margin: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image_h.right {
			float: right;
			margin: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image_h.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image_h.fit img {
				width: 100%;
			}

		.image_h.main {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}

			.image_h.main img {
				width: 100%;
			}


	.image_h {
		box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #e6e6e6;
	}


/* header_h */

	#header_h {
		background-color: #27262B;
		padding: 4.5em 0 2.5em 0 ;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		background-image: url("../../img/site_img/overlay.png"), url("../../img/site_img/pattern-size1.svg");
		background-position: top left, center center;
		background-attachment: fixed, fixed;
		background-size: auto, cover;
		height: 100vh;
		min-height: 35em;
	}

		#header_h input[type="submit"],
		#header_h input[type="reset"],
		#header_h input[type="button"],
		#header_h button,
		#header_h .button {
			background-color: transparent;
			color: #ffffff !important;
			box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
		}

			#header_h input[type="submit"]:hover,
			#header_h input[type="reset"]:hover,
			#header_h input[type="button"]:hover,
			#header_h button:hover,
			#header_h .button:hover {
				background-color: rgba(255, 255, 255, 0.075);
			}

			#header_h input[type="submit"]:active,
			#header_h input[type="reset"]:active,
			#header_h input[type="button"]:active,
			#header_h button:active,
			#header_h .button:active {
				background-color: rgba(255, 255, 255, 0.2);
			}

			#header_h input[type="submit"].primary,
			#header_h input[type="reset"].primary,
			#header_h input[type="button"].primary,
			#header_h button.primary,
			#header_h .button.primary {
				box-shadow: none;
				background-color: #ffffff;
				color: #27262B !important;
			}

		#header_h label {
			color: #ffffff;
		}

		#header_h input[type="text"],
		#header_h input[type="password"],
		#header_h input[type="email"],
		#header_h select,
		#header_h textarea {
			color: inherit;
			background-color: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

			#header_h input[type="text"]:focus,
			#header_h input[type="password"]:focus,
			#header_h input[type="email"]:focus,
			#header_h select:focus,
			#header_h textarea:focus {
				border-color: #ffffff;
				box-shadow: 0 0 0 1px #ffffff;
			}

		#header_h .select-wrapper:before {
			color: rgba(255, 255, 255, 0.25);
		}

		#header_h input[type="checkbox"] + label,
		#header_h input[type="radio"] + label {
			color: #d1e5f9;
		}

			#header_h input[type="checkbox"] + label:before,
			#header_h input[type="radio"] + label:before {
				background-color: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

		#header_h input[type="checkbox"]:checked + label:before,
		#header_h input[type="radio"]:checked + label:before {
			background-color: #ffffff;
			border-color: #ffffff;
			color: #27262B;
		}

		#header_h input[type="checkbox"]:focus + label:before,
		#header_h input[type="radio"]:focus + label:before {
			border-color: #ffffff;
			box-shadow: 0 0 0 1px #ffffff;
		}

		#header_h ::-webkit-input-placeholder {
			color: #b5d5f5 !important;
		}

		#header_h :-moz-placeholder {
			color: #b5d5f5 !important;
		}

		#header_h ::-moz-placeholder {
			color: #b5d5f5 !important;
		}

		#header_h :-ms-input-placeholder {
			color: #b5d5f5 !important;
		}

		#header_h .formerize-placeholder {
			color: #b5d5f5 !important;
		}

		#header_h .icon {
			color: #b5d5f5;
		}

		#header_h .image_h {
			box-shadow: 0 0 0 4px #27262B, 0 0 0 5px rgba(255, 255, 255, 0.25);
			margin-top: 8vh;
			margin-bottom: 2vh;
		}

		

		#header_h ul.alt > li {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#header_h table tbody tr {
			border-color: rgba(255, 255, 255, 0.25);
		}

			#header_h table tbody tr:nth-child(2n + 1) {
				background-color: rgba(255, 255, 255, 0.075);
			}

		#header_h table th {
			color: #ffffff;
		}

		#header_h table thead {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#header_h table tfoot {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#header_h table.alt tbody tr td {
			border-color: rgba(255, 255, 255, 0.25);
		}

		#header_h input, #header_h select, #header_h textarea {
			color: #d1e5f9;
		}

		#header_h a {
			color: #{{ site.data.template.color.secondary }}
			border-bottom-color: rgba(255, 255, 255, 0.5);
		}
		
		#header_h a.name {
		text-align: left;
		}
		

		#header_h strong, #header_h b {
			color: #ffffff;
		}

		#header_h h1, #header_h h2, #header_h h3, #header_h h4, #header_h h5, #header_h h6 {
			color: #ffffff;
		}

		#header_h blockquote {
			border-left-color: rgba(255, 255, 255, 0.25);
		}

		#header_h code {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		#header_h hr {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#header_h h1 {
			font-size: 3.25em;
			font-weight: bold;
			margin-bottom: 0.5em;
			margin-top: auto;
		}

		#header_h p {
			font-size: 1.5em;
			line-height: 1.35em;
		}

			#header_h p br {
				display: inline;
			}


		#header_h .content_h {
			-moz-transition: opacity 0.5s ease, -moz-transform 1s ease;
			-webkit-transition: opacity 0.5s ease, -webkit-transform 1s ease;
			-ms-transition: opacity 0.5s ease, -ms-transform 1s ease;
			transition: opacity 0.5s ease, transform 1s ease;
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
			font-family: Arial, Helvetica, sans-serif;
			opacity: 1;
			text-align: right;
			margin: 0 5vw 0 0;
		}

			#header_h .content_h > :last-child {
				margin-bottom: 0;
			}

			#header_h .content_h .actions {
				-moz-justify-content: -moz-flex-end;
				-webkit-justify-content: -webkit-flex-end;
				-ms-justify-content: -ms-flex-end;
				justify-content: flex-end;
			}

		#header_h .image_h {
			-moz-transition: opacity 1s ease, -moz-transform 1s ease;
			-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
			-ms-transition: opacity 1s ease, -ms-transform 1s ease;
			transition: opacity 1s ease, transform 1s ease;
			-moz-transform: translateY(0);
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
			opacity: 1;
		}

			#header_h .image_h img {
				-moz-transition: opacity 0.75s ease;
				-webkit-transition: opacity 0.75s ease;
				-ms-transition: opacity 0.75s ease;
				transition: opacity 0.75s ease;
				-moz-transition-delay: 0.75s;
				-webkit-transition-delay: 0.75s;
				-ms-transition-delay: 0.75s;
				transition-delay: 0.75s;
				opacity: 1;
			}

		@media screen and (max-width: 1280px) {

			#header_h {
				background-image: url("../../img/site_img/overlay.png"), url("../../img/site_img/pattern-size2.svg");
			}

		}

		@media screen and (max-width: 980px) {

			#header_h {
				height: auto;
				min-height: 0;
			}

				#header_h .content_h {
					margin: -2em 4em 0 0;
				}

					#header_h .content_h .actions {
						-moz-justify-content: center;
						-webkit-justify-content: center;
						-ms-justify-content: center;
						justify-content: center;
					}

		}

		@media screen and (max-width: 980px) and (orientation: portrait) {

			#header_h {
				padding: 6em 3em 4em 3em ;
				-moz-flex-direction: column-reverse;
				-webkit-flex-direction: column-reverse;
				-ms-flex-direction: column-reverse;
				flex-direction: column-reverse;
			}

				#header_h .content_h {
					display: block;
					width: 100%;
					text-align: center;
					margin: 0 0 2em 0;
				}

				#header_h .image_h {
					overflow: hidden;
				}

		}

		@media screen and (max-width: 736px) {

			#header_h {
				background-image: url("../../img/site_img/overlay.png"), url("../../img/site_img/pattern-size3.svg");
			}

				#header_h h1 {
					margin-top: auto;
					font-size: 2em;
				}

				#header_h p {
					font-size: 1em;
					line-height: inherit;
				}
				

		}

		@media screen and (max-width: 736px) and (orientation: landscape) {

			#header_h {
				padding: 2em 2em 0.1em 2em ;
			}

				#header_h .content_h {
					margin: 0 2em 2em 0;
				}

				#header_h .image_h {
					font-size: 0.8em;
					width: 15em;
					max-width: 20vw;
				}

					#header_h .image_h .inner, #header_h .image_h:before, #header_h .image_h:after {
						font-size: 0.8em;
					}

		}

		@media screen and (max-width: 736px) and (orientation: portrait) {

			#header_h {
				padding: 3em 1.5em 1em 1.5em ;
			}

				#header_h .image_h {
					font-size: 0.6em;
					max-width: 60vw;
				}

		}

	@media screen and (max-width: 480px) and (orientation: landscape) {

		#header_h {
			padding: 2em 1.5em 0.1em 1.5em ;
		}

			#header_h .image_h {
				font-size: 0.7em;
			}

			#header_h .actions {
				font-size: 0.8em;
			}

	}

	@media screen and (max-width: 480px) and (orientation: portrait) {

		#header_h {
			padding: 2em 1em 0.1em 1em ;
		}

	}

		body.is-mobile #header_h {
			background-attachment: scroll, scroll;
		}


