@import url('https://fonts.googleapis.com/css?family=Karma:500,500i,700');


.interntitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-end;
  margin-bottom: 2px;
}
.internships > p {
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.internlogo {
  height: 28px;
}

hr.dashed {
  border-top: 2px dashed #999;
}

hr.dotted {
  border-top: 2px dotted #999;
}

hr.solid {
  border-top: 2px solid #999;
}

hr.hr-text {
  position: relative;
    border: none;
    height: 1px;
    background: #999;
}

hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    color: #999;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid gray;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}