<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include aboutme.html %}
    {% include portfolio_grid.html %}

    {% if site.publications.size > 0 %}
      <hr class="dashed bg-light-gray" style="margin: 0 10%;">
      {% include publications.html %}
    {% endif %}
    
    {% include experience.html %}
    {% include skills.html %}
    {% include education.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

  </body>
</html>