<!-- Portfolio Modals -->
<!DOCTYPE html>
<html>

{% include head.html %}

<div class="proj" id="portfolioModal{{ page.modal-id }}">
  <div class="container">
    <div class="close-modal" data-dismiss="modal">
      <a onclick="window.history.back()">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
      </a>
    </div>

    <div style="margin-top: 100px;">
      <article>
        {{page.excerpt}}
      </article>
    </div>
  </div>

</div>

<footer style="margin-top: 50px;">
  <hr>
  <div class="container">
      <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content:  space-around; align-items: baseline;">

          <div style="margin:10px 20px;">
              <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
          </div>

          <div style="margin:10px 20px;">
              <!--Made with  <span style="color: #e25555; font-size: x-large;">&#10084;</span>  by Prakhar Kumar-->
              Made with <span style="color: #e25555;"><i class="fa fa-heart" aria-hidden="true"></i></span> by Prakhar Kumar
          </div>

          <div style="margin: 20px 20px;">
              <ul class="list-inline social-buttons">
                  {% for network in site.social %}
                  <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                  </li>
                  {% endfor %}
              </ul>
          </div>

          <!--
          <div class="col-md-4">
              <ul class="list-inline quicklinks">
                  <li><a href="#">Privacy Policy</a>
                  </li>
                  <li><a href="#">Terms of Use</a>
                  </li>
              </ul>
          </div>
          -->
      </div>
  </div>
</footer>


</html>